body{
    background: #FAFAFF;
}

.blog-heading{
    padding: 100px 0 80px;
}

.blog-section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    row-gap: 70px;
    column-gap: 30px;
}
.blog-section a{
    display: block;
}

.blog-box{
   background: #fff;
    border-radius: 10px;
}
.blog-box img{
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-top: 20px;
}
.blog-box p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    padding-top: 20px;
}
.blog-box-text{
    padding: 20px 30px 55px 30px;
}

@media screen and (max-width: 768px) {
    .blog-heading{
        padding: 90px 0 60px;
    }

    .blog-section{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        row-gap: 60px;
        column-gap: 20px;
    }
}
@media screen and (max-width: 577px) {
    .blog-section{
        display: grid;
        grid-template-columns: auto !important;
        justify-content: center;
        row-gap: 50px;
        column-gap: 0;
    }
}
@media screen and (max-width: 414px) {
    .blog-heading{
        padding: 30px 0 40px;
    }

}
