body{
    background: #FBF5FD;
}

.nav-links a.active{
    border-bottom: 2px solid #B13ED6;
    padding-bottom: 10px;
}


.header-box-full{
    background: #B13ED6;
}


.full-way-section{
    background: #B13ED6;
}

.full-way-bg {
    background-image: url(../images/manual/way/full-bg.svg);
    background-position: bottom 19% left 75%;
    background-size: 824px 698px;
}

.counter-box-full h4{
    color: #B13ED6;
}

.real-world-box h4{
    color: #B13ED6;
}


.qa-timer div {
    background: #B13ED6;
}

.qa-time-box.active .active-time{
    background: #B13ED6;
}

.other-timer .separator span {
    background: #B13ED6;
}


.pacific-time-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pacific-time{
    position: relative;
    width: 95%;
    max-width: 95%;
}
.pacific-time-text{
    min-width: 240px;
    max-width: 240px;
    position: relative;
    right: -45px;
    bottom: 95px;
}
.pacific-time-text h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.pacific-time-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    padding: 5px;
}

.full-time-box p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #999999;
    width: 110px;
    height: 60px;
    margin-top: 10px;
}

.full-time-box.active .active-time {
    background: #B13ED6;
}

.daylight-time{
    margin-top: 50px;
}


.full-assistance-box h4{
    color: #B13ED6;
}


.skills-section{
    max-height: 100%;
}



