ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: #000;
}

body {
    font-family: 'Golos Text', sans-serif;
    background: #fafafa;
}

/* UTILIT START */
input, textarea {
    background: #FAFAFF;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    padding: 10px 20px 14px;
    border: none;
    outline: none;
}
.input-primary {
    width: 300px;
}

.container {
    width: 1400px;
    max-width: 100%;
    margin: auto;
}
.container-with-padding {
    padding: 0 60px;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.btn {
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 40px 13px;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    color: #FFFFFF;
}

.btn-bordered {
    border: 2px solid #FFFFFF;
}
.btn-primary {
    background: #FF5555;
}
.btn-secondary {
    background: #FFFFFF;
    color: #295AC2;
}
.btn-secondary-full {
    background: #B13ED6;
    color: #fff;
}
.btn-secondary-full-t {
    color: #B13ED6;
}
.btn-secondary-ng {
    background: #FFFFFF;
    color: #FF5555;
}

.btn-radius {
    min-width: 120px;
    background: #295AC2;
    border-radius: 5px;
    text-transform: capitalize;
}
.btn-blue{
    background: #295AC2;
}
.btn-width-small{
    width: 166px;
}
.btn-width-large{
    width: 228px;
}
.btn-width-ex-large{
    width: 294px;
}
.btn-width-xl{
    width: 300px;
}
.btn-pr-large{
    width: 265px;
}

.btn-xs{
    font-weight: 400;
    line-height: 26px;
    width: 116px;
    padding: 10px 20px 14px;
}
.text-center {
    text-align: center;
}
.xl-block {
    display: block;
}
.primary-icon {
    width: 30px;
    height: 30px;
}
.xl-none {
    display: none;
}

.sm-none {
    display: none;
}
.sm-block {
    display: none;
}

.primary_h{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.d-block{
    display: block;
}
.d-none{
    display: none;
}

.section-heading h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.section-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

/* Margin top*/
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt70{margin-top: 70px;}
.mt80{margin-top: 80px;}
.mt90{margin-top: 90px;}
.mt100{margin-top: 100px;}

/* Margin bottom*/
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}
.mb70{margin-bottom: 70px;}
.mb80{margin-bottom: 80px;}
.mb90{margin-bottom: 90px;}
.mb100{margin-bottom: 100px;}

@media screen and (max-width: 860px) {
    .d-none-860 {
        display: none !important;
    }
}
@media screen and (max-width: 1200px) {
    .xl-block {
        display: none !important;
    }
    .xl-none {
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    .container-with-padding {
        padding: 0 10px;
    }
}
@media screen and (max-width: 768px) {
    .sm-block {
        display: block;
    }
    .input-primary {
        width: 280px;
    }
    .sm-none {
        display: none !important;
    }

    .d-flex {
        display: flex;
    }
    .column {
        flex-direction: column;
    }
    .justify-center {
        justify-content: center;
    }
    .section-heading{
        margin-bottom: 30px;
    }
    .section-heading h2{
        font-size: 36px;
        line-height: 43px;
    }
}

.gradient{
    position: relative;
}
.gradient-box{
    display: none;
    max-width: 150px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
    position: absolute;
    top: 16%;
    right: 1%;
    z-index: 999;
}
/* UTILIT END */


/* HEADER SECTION START */
.header-box {
    border: 1px solid #ccc;
    background: #FC6144;
    display: flex;
    justify-content: center;
}

.header-top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    max-width: 100%;
    margin: auto;
}
.header-top > div:not(:last-child) {
    padding-right: 20px;
}

.header-box h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFF;
    padding: 12px 0 17px;
}

.header-action {
    padding: 5px;
    display: flex;
}

.header-box p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}

/* HEADER TIMER START */
.header-timer {
    font-size: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.header-timer div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 60px;
    padding: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header-timer p {
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    letter-spacing: .56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-timer .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.header-timer .separator span {
    width: 5px;
    height: 5px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    background-color: white;
}
/* HEADER TIMER END */

/* MENU START */
.logo {
    padding: 12px 30px 12px 50px;
}

.nav-links {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
}

.nav-links ul li {
    display: inline-block;
}

.menu ul {
    font-size: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu ul li a {
    color: #000000;
    font-size: 16px;
    margin: 0 15px;
    font-weight: 500;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-menu ul li a {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.menu {
    display: flex;
    border-left: 1px solid #ccc;
    padding: 15px 5px;
    overflow: hidden;
}
.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.nav-links-scroll{
    display: none
}

/* Login Start */
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 0;
}
.login a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login img{
    display: inline-block;
    max-width: 20px;
    height: auto;
}
.login h6{
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    padding: 0 10px;
}
/* Login Start */

/* Right Menu Start */
.media-right-menu {
    max-width: 375px;
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 4;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    padding: 40px 50px;
    overflow-y: auto;
}

.madia-right-menu-courses ul {
    margin-top: 33px;
}

.madia-right-menu-courses h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.madia-right-menu-courses ul li {
    padding-bottom: 11px
}
.madia-right-menu-courses ul li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.media-right-menu-btn{
    margin: 35px 0;
}

.madia-right-under-menu ul{
    column-count: 2;
}
.madia-right-under-menu ul li img{
    display: inline-block;
    max-height: 100%;
    height: auto;
    padding-right: 5px;
}

.madia-right-under-menu ul li{
    padding-bottom: 23px;
}
.madia-right-under-menu ul li a{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.madia-right-under-menu ul li a{
   display: flex;
}

.media-right-menu .media-right-social-link{
    margin-top: 35px;
}


.header-section-closed{
    position: absolute;
    top: 30px;
    right: 30px;
}


/* Right Menu Start */
.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    opacity: 1; /* значение изменено на 1 */
    z-index: 3;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.7957px);
    display: none;
}
/* MENU END */

/* SLIDER START */
.slick-track {
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider-container {
    padding: 0 50px;
}

.slider-text-box {
    padding: 50px 0 50px 102px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    font-weight: 700;
    font-size: 58px;
    max-width: 100%;
    width: 845px;
    line-height: 70px;
    color: #000;
}

.hero-desc {
    margin-top: 25px;
    width: 520px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hero-text span:first-child {
    color: #295AC2;
}

.hero-text span:last-child {
    color: #FC6144;
}

.hero-action {
    margin-top: 40px;
    display: flex;
}

.slider-img {
    position: absolute;
    z-index: -1;
    left: 55%;
    top: 0;
}

.slider-img img {
    object-fit: contain;
}

.texture {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
    background-image: url("../images/slider/Path.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.menu-item {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
/* SLIDER END */

/* COUNTER START */
.counter-section{
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding: 40px 0;
}

.counter-box{
    position: relative;
    padding: 10px 0;
}

.counter-bordered {
    width: 2px;
    height: 93px;
    background: #295AC2;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
}

.counter-box h4{
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #295AC2;
}

.counter-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    list-style-type: none;
}
.slick-dots li {
    margin: 0 10px;
}
.slick-dots button {
    width: 7px;
    height: 7px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #CCCCCC;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #FC6144;
}
/* COUNTER END */

/* ABOUT START */
.about-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-box:not(:last-child){
    margin-right: 30px;
}

.about-box img{
    width: 65px;
    height: 65px;
    border-radius: 12px;
}

.about-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    color: #000000;
}

.about-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 15px;
}
/* ABOUT END */


.ticket-boxes {
    padding-bottom: 80px;
}


/* LINE START */
.line{
    width: 100%;
    height: 2px;

    background: #295AC2;
    mix-blend-mode: normal;
    opacity: 0.1;
}
/* LINE END */

/* BRAND START */
.brand-section{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.brand-box img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.brand-image {
    width: 140px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.brand-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.brand-box i{
    font-size: 20px;
    color: #FC6144;
}

.brand-box h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.brand-box p{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;
}
.brand-box a{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #295AC2;
    margin-top: 10px;
}
/* BRAND END */

/* WAY START */
.way-section{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    padding: 60px 100px;
    background: #FF5555;
    border-radius: 10px;
}

.way-bg-ng{
    mix-blend-mode: screen;
    opacity: 0.5;
    position: absolute;
    background-image: url("../images/way/Path-ng.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom 19% left 55%;
    background-size: 824px 698px ;
    background-clip: padding-box;
}

.way-bg-soft{
    mix-blend-mode: screen;
    opacity: 0.5;
    position: absolute;
    background-image: url("../images/way/Path-dev.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom 20% left 32%;
    background-size: 561px 520px ;
    background-clip: padding-box;
}

.way-bg-dev{
    mix-blend-mode: screen;
    opacity: 0.5;
    position: absolute;
    background-image: url("../images/way/Path-dev.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom left 400px;
    background-size: 1193px 1023px;
    background-clip: padding-box;
}

.way-section-software{
    background: #3E4ED7;
}
.way-section-developer{
    background: #B13ED6;
    position: relative;
}

.way-section-text{
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.way-section-img img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FF5555;
    border-radius: 50%;
    width: 360px;
    height: 360px;
}
.way-software img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3E4ED7 !important;
}
.way-developer img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B13ED6 !important;
}

.text-width-eng{
    max-width: 440px;
}
.text-width-soft{
    max-width: 431px;
}
.text-width-full{
    max-width: 431px;
}
.way-btn-color-eng a{
    color: #FF5555;
}
.way-btn-color-soft a{
    color: #3E4ED7;
}
.way-btn-color-full a{
    color: #B13ED6;
}

.m-content{
    margin-top: 10px;
}

.way-text-box{
    margin-left: -45px;
}

.way-text-box h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.way-text-box h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 30px;
}
.way-text-box p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
    max-width: 326px;
}
.way-section-content{
    max-width: 190px;
}

.way-section-content-session ul li{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border-top: 1px solid #fff;
    padding: 10px 0 24px;
}

.way-action-btn{
    margin-top: 74px;
}
/* WAY END */

/* JOIN START */
.join-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    padding: 70px 100px;
}

.join-box-timer{
    text-align: left;
}

.join-box-timer h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.join-box-timer h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: left;
    margin-top: 10px;
}

.other-timer{
    margin-top: 40px;
}

.other-timer div {
    width: 90px;
    height: 110px;
    padding: 15px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    background: #FC6144;
    border-radius: 10px;
}

.other-timer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.other-timer .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.other-timer .separator span {
    width: 10px;
    height: 10px;
    display: block;
    margin: 10px;
    border-radius: 50%;
    background: #FF5555;
}

.join-box-info ul{
    text-align: left;
}
.join-box-info ul li{
    display: flex;

    margin-bottom: 20px;
}
.join-box-info ul li i{
    color: #FF5555;
    margin-right: 10px;
}
.join-box-info ul li p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-align: left;
}

.join-box-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 15px;
}

.join-box-info-right{
    display: flex;
    margin-top: 50px;
}
.join-box-info-right-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-box-info-right-text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    text-align: left;
    margin-left: 30px;
    max-width: 170px;
    width: 100%;
}
/* JOIN END */

/* FOR-QAS START */
.section-for-qas{
    background: #3E9CD6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    position: relative;
}
.for-qas-bg{
    position: absolute;
    right: 35%;
    bottom: 10px;
}

.for-qas-text{
    width: 420px;
    max-width: 100%;
}

.for-qas-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.for-qas-text h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}

.for-qas-info{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.for-qas{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 100px;
}

.for-qas-sesion ul{
    width: 190px;
}

.for-qas-info-pan ul{
    margin-right: 15px;
}
.for-qas-info-pan ul li{
    padding: 10px 0;
}

.for-qas-info-btn{
    display: flex;
    align-items: center;
    margin: 0;
}
/* FOR-QAS END */

/* LEVEL START */
.level-box{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    text-align: center;
}
.level-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-top: 10px;
}
.level-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}
/* LEVEL END */

/* FEATURED START */
.featured-text{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.featured-img-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-img-resp{
    display: flex;
    flex-direction: row;
    margin: 0 20px 40px 0;
}

.featured-img-resp :not(:last-child){
    margin-right: 40px;
}
/* FEATURED END */

/* REVIEWS START */
.reviews-section{
    padding: 60px 0;
}

.reviews-separate{
    padding:0 20px ;
}

.reviews-us-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.reviews-separate-img{
    position: relative;
    display: flex;
    flex-direction: row;
}
.reviews-separate-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.reviews-separate-name{
    padding-left: 20px;
}

.reviews-separate-img h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.reviews-separate-img h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.reviews-separate-star ul{
    margin-top: 20px;
}
.reviews-separate-star ul li{
    display: inline-block;
}
.reviews-separate-star i{
    width: 20px;
    height: 20px;
    color: #FC6144;
}

.reviews-separate-text h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
}
.reviews-separate-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin: 20px 0;
}

.reviews-social{
    position: absolute;
    bottom: -5%;
    left: 60px;
}
.reviews-social img{
    display: inline-block;
    max-width: 20px;
    height: auto;
}

/* REVIEWS END */

/* WHO HIRE START */
.who-hire{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 90px 60px ;
}

.who-hire-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.who-hire-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px;
    /*padding: 85px;*/
}

.who-hire-link{
    text-align: center;
}
.who-hire-link a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
/* WHO HIRE END */

/* BOOTCAMP START */
.bootcamp-section{
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    column-gap: 10px;
    padding: 60px 70px;
}

.bootcamp-box-text{
    width: 100%;
}

.bootcamp-box-img{
    margin-top: 50px;
}
.bootcamp-box-img img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.bootcamp-box-img-under{
    display: none;
}

.bootcamp-box-centered{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bootcamp-box-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
.bootcamp-box-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.bootcamp-box-form{
    display: flex;
    flex-direction: column;
}
.bootcamp-form{
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    position: relative;
}

.bootcamp-box-form h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 39px 0 26px;
}

.bootcamp-btn{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.bootcamp-box-form-text{
    margin-top: 20px;
    width: 300px;
}
.bootcamp-box-form-text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.bootcamp-form input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #295AC2;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.level-box-under{
    background: rgba(0, 0, 0, 0.03);
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.iti__country-list{
    position: absolute !important;
    max-width: 320px;
    left: 48.5%;
    top: 35%;
}
/* BOOTCAMP END */

/* FOOTER START*/
.footer-section{
    padding: 60px 0;
}

.footer-box-nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}

.footer-box-nav-courses ul{
    max-width: 240px;
    width: 100%;
}
.footer-box-nav-courses ul{
    margin-top: 15px;
}
.footer-box-nav-courses ul li{
    padding: 5px 0;
}
.footer-box-nav-courses ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

.footer-box-info-social{
    display: flex;
    flex-direction: column;
}
.footer-box-info-social-follow{
    margin-left: 88px;
}
.footer-box-info-social-follow span{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    margin-top: 10px;
}

.footer-box-info-social-follow-img{
    margin-top: 60px;
}
.footer-box-info-social-follow-img img{
    padding-right: 15px;
}

.footer-box-info-social-news{
    margin-top: 50px;
}

.footer-form{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 10px;
}
.btn-radius{
    position: absolute;
    top: 0;
    right: 0;
    background: #295AC2;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
    min-width: 110px;
}

.footer-box-info-number p{
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}
.footer-box-info-number-mail a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.under-footer-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-bottom: 60px;
}

.under-footer-section h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.under-footer-section a{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
}

.footer-line{
    display: none;
}
/* FOOTER END */


/* GRADIENT START */
.overflow{
    position: relative;
}
.overflow-box{
    display: none;
    width: 140px;
    height: 110px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 90%);
    position: absolute;
    top: 16%;
    right: 0;
}
/* GRADIENT END */


/* POPUP START */
.popup-section{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 60px 100px 130px;
    border: 1px solid #ccc;
    width: 730px;
    max-width: 100%;
    height: auto;
    margin: auto;
    background: #fff;
    max-height: calc(100% - 100px);
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.overlay.d-block {
    transition: all 1s ease;
    opacity: 1;
}

.popup-section .join-box-timer h6, .join-box-timer p{
    text-align: center;
}
.popup-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: -40px;
    right: -75px;
}
.close img{
    display: inline-block;
    max-width: 30px;
    width: 100%;
}

.popup-done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-done img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 94px 0 45px;
}
/* POPUP END */

/* CHAT START */
.chat-boat{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 4;
}
/* CHAT END */

/* **** MEDIA  START **** */
@media screen and (max-width: 1200px) {
    .menu {
        width: 100%;
    }
    .logo {
        padding-left: 15px;
    }
    .right-menu {
        padding-right: 15px;
        width: auto;
    }

    .join-section{
        padding: 70px 40px;
    }

    .join-box-info-right-text{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .section-for-qas{
        padding: 30px 30px;
    }
    .way-box{
        padding: 50px 40px;
    }

    .for-qas{
        column-gap: 50px;
    }

    .way-section{
        padding: 60px 60px;
    }
    .way-text-box {
        margin-top: 0;
    }

    .login {
        right: 95px;
    }
}
@media screen and (max-width: 1024px) {
    .overflow-box{
        display: block;
    }

    .slider-text-box {
        padding: 50px 0 50px 40px;
    }

    .about-container{
        margin-top: 60px;
    }
    .about-box:not(:last-child) {
        margin-right: 30px;
    }

    .for-qas-sesion ul{
        width: 100%;
    }
    .for-qas-info{
        flex-direction: column;
    }
    .for-qas-info-pan ul {
        display: flex;
    }
    .for-qas-info-pan ul{
        margin: 20px 0 0 0 ;
        padding: 0;
    }
    .for-qas-info-pan ul li{
        border: none;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0 10px 0 0 ;
    }
    .other-timer .separator span {
        width: 5px;
        height: 5px;
        margin: 5px;
    }


    .way-section{
        overflow: hidden;
        padding: 60px 60px;
    }

    .way-section-img {
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .way-section-img img {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FF5555;
        border-radius: 50%;
        width: 360px;
        height: 360px;
        position: absolute;
        z-index: -1;
        bottom: -20%;
        left: -41%;
    }

    .for-qas-bg {
        position: absolute;
        right: 15%;
        bottom: 0;
    }

    .join-box-info-right{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 40px;
    }

    .join-box-info-right p{
        margin: 20px 0 0 0 ;
    }

    .d-block{
        display: none;
    }
    .d-none{
        display: block;
    }

    .footer-form{
        display: none;
    }

    .gradient-box{
        display: block;
    }

}
@media screen and (max-width: 998px) {
    .other-timer div {
        width: 70px;
        height: 85px;
        padding: 10px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }

    .join-box-timer h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }
    .join-box-timer h6{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .join-section{
        padding: 70px 40px;
    }

    .who-hire-logos{
        gap: 35px;
    }

    .footer-section {
        padding: 60px 20px;
    }
}
@media screen and (max-width: 860px) {
    .header-top {
        width: 394px;
    }
    .header-box h3 {
        font-size: 16px;
        line-height: 18px;
    }
    .join-section {
        padding: 70px 15px;
    }
    .login h6{
        display: none;
    }

}
@media screen and (max-width: 768px) {
    .login{
     display: none;
    }
    .menu {
        width: auto;
        padding-left: 15px;
    }
    .nav-links {
        justify-content: center;
    }
    .right-menu {
        display: none;
    }

    .texture {
        background-image: none;
    }

    .slider-container {
        padding: 0;
    }

    .join-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .join-box-info ul{
        margin: 30px 0;
    }
    .join-box-info-right-text p{
        margin-top: 20px;
        max-width: 100%;
    }
    .join-box-info-right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .d-block{
        display: block;
    }
    .d-none{
        display: none;
    }

    .reviews-us-text h2{
        font-size: 36px;
        line-height: 43px;
    }

    .for-qas-info{
        width: 100%;
    }
    .for-qas-text h2{
        font-size: 36px;
        line-height: 43px;
    }
    .for-qas-text h5{
        margin-top: 15px;
    }
    .for-qas-info-btn{
        display: flex;
        align-items: flex-end;
        margin: 0;
    }

    .who-hire-text h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }
    .bootcamp-section{
        padding: 60px 40px;
    }
    .bootcamp-box-text h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }

    .bootcamp-box-img{
        display: none;
    }
    .bootcamp-box-img-under{
        display: block;
    }
    .bootcamp-box-img-under img{
        max-width: 420px;
        width: 100%;
    }

    .bootcamp-section{
        display: flex;
        flex-direction: column;
    }
    .bootcamp-box-centered{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .bootcamp-form {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
        position: relative;
    }
    .bootcamp-box-form-text {
         margin: 20px 0 0;
     }
    .bootcamp-btn {
         margin-top: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .input-primary {
        max-width: 280px;
        width: 100%;
    }
    .bootcamp-box-text {
        text-align: center;
    }
    .bootcamp-box-text p {
         margin: 30px 0 50px;
     }

    .bootcamp-form-popup{
        display: flex;
        flex-direction: column;
    }
    .popup-section {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 60px 20px 60px 20px;
        overflow-x: hidden ;
    }
    .close {
        color: #555;
        font-size: 38px;
        top: -50px;
        right: 0;
    }

    .way-section-text{
        flex-direction: row-reverse;
    }
    .way-text-box{
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .way-text-box h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }
    .way-text-box p{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .way-section-content {
        display: flex;
        justify-content: flex-start;
        column-gap: 60px;
        align-items: center;
        margin-top: 30px;
        max-width: 100%;
    }
    .way-section-content-session ul{
        display: flex;
        flex-direction: row;
    }
    .way-section-content-session ul li{
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: 7px;
        margin-right: 30px;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        mix-blend-mode: normal;
        width: 100px;
    }
    .way-section{
        display: grid;
        grid-template-columns: auto;
        padding: 35px 30px;
    }
    .way-action-btn {
        display: none;
    }
    .way-section-img img {
        top: -7%;
        left: 15%;
    }

    .for-qas-sesion{
        display: block;
        margin-top: 0;
    }

    .reviews-section{
        padding: 60px 20px;
    }

    .for-qas-bg{
        display: none;
    }

    .footer-box-nav{
        grid-template-columns: auto auto;
        row-gap: 40px;
    }
    .footer-section {
        padding: 40px 20px;
    }

    .footer-box-nav-courses ul {
        margin-top: 15px;
        column-count: 2;
        max-width: 100%;
    }
    .footer-box-info-social-follow {
         margin-left: 0;
    }
    .footer-line{
        display: block;
    }

    .ticket-boxes {
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 577px) {
    .slider-container{
        padding: 20px 0;
    }

    .slider-text-box {
        padding: 0;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        max-width: 100%;
        width: 400px;
    }

    .slider-img {
        position: static;
        z-index: -1;
        left: 0;
        top: 0;
    }
    .slider-img img {
        width: 500px;
        height: 370px;
        object-fit: contain;
    }

    .hero-desc {
        width: 450px;
        max-width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-top: 0;
    }
    .hero-action {
        margin-top: 25px;
        display: block;
    }

    .bootcamp-box-centered{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bootcamp-form {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
        row-gap: 20px;
        position: relative;
    }
    .input-primary {
        width: 280px;
        max-width: 100%;
    }
    .bootcamp-box-form-text {
        margin: 20px 0 50px;
    }

    .xs-none{
        display: none;
    }
    .xs-block{
        display: block;
    }

    .about-section{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    .about-box:not(:last-child){
        margin-bottom: 50px;
    }
    .about-box:not(:last-child){
        margin-right: 0;
    }

    .other-timer div {
        width: 70px;
        height: 85px;
        padding: 14px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }
    .other-timer p {
        font-weight: 400;
        font-size: 13px;
        line-height: 26px;
    }

    .brand-section{
        background: #FFFFFF;
        border-radius: 10px;
        padding: 40px 40px 20px 40px;
    }
    .line-none{
        display: none;
    }
    .brand-section{
        margin-top: 60px;
    }

    .section-for-qas {
        justify-content: center;
        padding: 25px 30px;
    }
    .for-qas-info-btn{
        display: none;
    }

    .join-box-timer h2{
        text-align: center;
    }
    .join-box-timer h6{
        text-align: center;
    }

    .join-box-info-right-button a{
        width: 294px;
    }

    .footer-section {
        padding: 40px 10px;
    }
    .footer-box-nav{
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 414px) {
    .menu {
        padding-left: 5px;
    }

    .media-right-menu-btn .btn-width-ex-large{
        width: 200px;
    }

    .overflow-box{
        display: none;
    }

    .slider-container{
        padding: 20px 0;
    }

    .slider-text-box {
        padding: 0;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        width: 334px;
    }

    .slider-img {
        position: static;
        z-index: -1;
        left: 0;
        top: 0;
    }
    .slider-img img {
        width: 435px;
        height: 310px;
        object-fit: contain;
    }

    .hero-desc {
        width: 370px;
        max-width: 100%;
        height: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    .hero-action {
        margin-top: 25px;
        display: block;
    }

    .header-top > div:not(:last-child) {
        padding-right: 0;
    }

    .brand-box h5 {
        margin-top: 30px;
    }

    .who-hire{
        background: #FFFFFF;
        border-radius: 10px;
        padding: 50px;
    }

    .who-hire-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .way-section {
        padding: 20px 20px;
    }
    .way-section-text{
        display: inline-block;
        flex-direction: row-reverse;
    }
    .way-text-box{
        max-width: 310px;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .way-bg-ng {
        background-position: bottom -78% left -13%;
    }
    .way-section {
        padding: 30px 30px;
        justify-content: center;
    }
    .way-section-img {
        max-height: 0;
    }
    .way-section-img img {
        width: 180px;
        height: 180px;
        position: absolute;
        z-index: -1;
        bottom: -20%;
        left: 63%;
    }
    .way-section-content-session ul li {
        min-width: 82px;
        margin-right: 20px;
    }
    .way-section-content-session ul li:last-child {
        margin-right: 0;
    }

    .way-bg-soft {
        background-position: bottom -15% left 127%;
        background-size: 561px 480px;
    }
    .way-bg-dev {
        background-position: bottom left -71%;
        background-size: 550px 480px;
    }

    .join-box-info ul li p{
        max-width: 300px;
        width: 100%;
    }

    .bootcamp-section {
        padding: 60px 20px;
    }
    .bootcamp-box-form-text {
        text-align: center;
         width: auto;
    }

    .bootcamp-box-form h4{
        margin: 21px 0 26px;
    }
    .bootcamp-btn a{
        width: 260px;
    }

    .input-primary {
        width: 260px;
    }
    .bootcamp-box-text{
        width: 280px;
    }
    .bootcamp-box-form-text{
        width: 265px;
    }
    .bootcamp-box-form h4{
        width: 120px;
    }
    .level-box{
        padding: 30px 40px;
    }

    .way-section-content-session{
        width: 270px;
    }

    .footer-form{
        display: block;
    }
    .footer-section {
        padding: 20px 20px;
    }

    .counter-bordered {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .slider-container{
        padding: 40px 0;
    }

    .slider-text-box {
        padding: 0;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        width: 280px;
    }

    .slider-img {
        position: static;
        z-index: -1;
        left: 0;
        top: 0;
    }
    .slider-img img {
        width: 435px;
        height: 310px;
        object-fit: contain;
    }

    .hero-desc {
        width: 280px;
        max-width: 100%;
        height: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .join-box-info-right-text p{
        text-align: center;
    }
    .join-box-info-right-text {
        width: 170px;
    }

    .hero-action {
        margin-top: 25px;
        display: block;
    }

    .other-timer > div{
        width: 56px;
        font-size: 26px;
    }
    .other-timer > div p {
        font-size: 9px;
    }
}
/* ****  MEDIA  END **** */

.d-block {
    display: block;
}
.d-none{
    display: none;
}